<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="shared/layout">

<head>
    <title>Yelp Admin Management</title>
    <link rel="stylesheet" th:href="@{/kendoui/css/kendo.common-material.min.css}" />
    <link rel="stylesheet" th:href="@{/kendoui/css/kendo.material.min.css}" />
    <link rel="stylesheet" th:href="@{/kendoui/css/kendo.material.mobile.min.css}" />
</head>
<body>
<!-- Content Wrapper. Contains page content -->
<div layout:fragment="content" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Admin Change Password
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Admin</a></li>
            <li class="active">Change Password</li>
            <li><a class="btn btn-default" th:href="@{/admin/index}" role="button">返回</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div id="item-form">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-10">
                                <input type="hidden"  id="id" />
                                <span id="username"  class="checkbox"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password"  style="width: 300px;" id="password" placeholder="Password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">New Password</label>
                            <div class="col-sm-10">
                                <input type="password"  style="width: 300px;" id="newPassword" placeholder="New Password" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Confirm Password</label>
                            <div class="col-sm-10">
                                <input type="password"  style="width: 300px;" id="confirmPassword" placeholder="Confirm New Password" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button id="submitButton" type="submit"  onclick="javascript:adminChangePwdSubmit();"  class="btn btn-default">Submit</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span id="validate-message-ok" style="color: green;"></span>
                                <span id="validate-message-error" style="color: red;"></span>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
        <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
</div>
<th:block layout:fragment="scriptsblock">
    <script th:inline="javascript">

        var apiDetailUrl = "/api/admin/detail/" + [[${id}]];
        var apiChangePwdUrl = "/api/admin/changePwd/" + [[${id}]];
        $(document).ready(function() {
            $.getJSON(apiDetailUrl, null, function (response) {
                if(!response.success)
                {
                    $("#validate-message").html(response.message);
                }

                var item = response.data;
                $("#item-form input#id").val(item.id);
                $("#item-form #username").html(item.username);
            });

        });

        function adminChangePwdSubmit() {

            $("#submitButton").attr({"disabled":"disabled"});

            var password = $("#item-form input#password").val();
            var newPassword = $("#item-form input#newPassword").val();
            var confirmPassword = $("#item-form input#confirmPassword").val();

            if(newPassword !== confirmPassword){
                $("#validate-message-ok").html("");
                $("#validate-message-error").html("newPassword、confirmPassword 必须相同");
                $("#submitButton").removeAttr("disabled");
            }

            $.post(apiChangePwdUrl, { password: password, newPassword : newPassword, confirmPassword : confirmPassword },
                function(response){
                    $("#validate-message-ok").html("");
                    $("#validate-message-error").html("");
                    if(!response.success)
                    {
                        $("#validate-message-error").html(response.message);

                    }else{
                        $("#validate-message-ok").html(response.message);
                    }

                    $("#submitButton").removeAttr("disabled");

                }, "json");



        }
    </script>
</th:block>
</body>
</html>