<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="shared/layout">

<head>
    <title>Yelp Review Detail</title>
    <link rel="stylesheet" th:href="@{/kendoui/css/kendo.common-material.min.css}" />
    <link rel="stylesheet" th:href="@{/kendoui/css/kendo.material.min.css}" />
    <link rel="stylesheet" th:href="@{/kendoui/css/kendo.material.mobile.min.css}" />
</head>
<body>
<!-- Content Wrapper. Contains page content -->
<div layout:fragment="content" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Review Detail
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Review</a></li>
            <li class="active">detail</li>
            <li><a class="btn btn-default" href="javascript:history.go(-1)" role="button">返回</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div id="main-detail">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Id</label>
                            <div class="col-sm-10">
                                <span id="id"  class="checkbox"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">BusinessId</label>
                            <div class="col-sm-10">
                                <span id="businessId"  class="checkbox"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">UserId</label>
                            <div class="col-sm-10">
                                <span id="userId" class="checkbox"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Stars</label>
                            <div class="col-sm-10">
                                <span id="stars" class="checkbox"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Date</label>
                            <div class="col-sm-10">
                                <span id="date" class="checkbox"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Useful</label>
                            <div class="col-sm-10">
                                <span id="useful" class="checkbox"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Funny</label>
                            <div class="col-sm-10">
                                <span id="funny" class="checkbox"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Cool</label>
                            <div class="col-sm-10">
                                <span id="cool" class="checkbox"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Text</label>
                            <div class="col-sm-10">
                                <span id="text" class="checkbox"></span>
                            </div>
                        </div>

                    </form>


                </div>
            </div>
        </div>
        <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
</div>
<th:block layout:fragment="scriptsblock">
    <script th:inline="javascript">

        var apiUrl = "/api/review/detail/" + [[${id}]];
        $(document).ready(function() {
            $.getJSON(apiUrl, null, function (response) {
                if(!response.success)
                {
                    $("#main-detail #name").html(response.message);
                }

                var item = response.data;
                $("#main-detail #id").html(item.id);
                $("#main-detail #businessId").html(item.businessId);
                $("#main-detail #userId").html(item.userId);
                $("#main-detail #stars").html(item.stars);
                $("#main-detail #date").html(item.date);
                $("#main-detail #useful").html(item.useful);
                $("#main-detail #funny").html(item.funny);
                $("#main-detail #cool").html(item.cool);
                $("#main-detail #text").html(item.text);
            });

        });
    </script>
</th:block>
</body>
</html>