<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="shared/layout">

<head>
    <title>Yelp Business Management</title>
    <link rel="stylesheet" th:href="@{/kendoui/css/kendo.common-material.min.css}" />
    <link rel="stylesheet" th:href="@{/kendoui/css/kendo.material.min.css}" />
    <link rel="stylesheet" th:href="@{/kendoui/css/kendo.material.mobile.min.css}" />
</head>
<body>
    <!-- Content Wrapper. Contains page content -->
    <div layout:fragment="content" class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Business Management
                <small>List</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Business</a></li>
                <li class="active">list</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Main row -->
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <div id="business-search" class="search-bar">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" placeholder="" />
                            </div>
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city" placeholder="" />
                            </div>
                            <div class="form-group">
                                <label for="State">state</label>
                                <input type="text" class="form-control" id="state" placeholder="" />
                            </div>
                            <div class="form-group">
                                <label for="postCode">Post Code</label>
                                <input type="text" class="form-control" id="postCode" placeholder="" />
                            </div>
                            <div class="form-group">
                                <label for="isOpen">Is Open</label>
                                <input type="email" class="form-control" id="isOpen" placeholder="" />
                            </div>
                            <button type="button" onclick="javascript:businessSearch();" class="btn btn-default">Search</button>
                            <button type="reset" class="btn btn-default">Clear</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <div id="business-grid"></div>
                </div>
            </div>
            <!-- /.row (main row) -->

        </section>
        <!-- /.content -->
    </div>
    <th:block layout:fragment="scriptsblock">
        <script th:src="@{/kendoui/js/kendo.all.min.js}"></script>
        <script>
            function getSearchParam() {

                return {
                    "name" : $("#name").val().trim(),
                    "city" : $("#city").val().trim(),
                    "state" : $("#state").val().trim(),
                    "postCode" : $("#postCode").val().trim(),
                    "isOpen" : $("#isOpen").val().trim()
                };
            }

            var apiUrl = "/api/business/search";

            $(document).ready(function() {
                window.businessGrid = $("#business-grid").kendoGrid({
                    theme: "bootstrap",
                    dataSource: {
                        transport: {
                            read:{
                                url: apiUrl,
                                contentType: "application/json",
                                success: function(result) {
                                    // notify the data source that the request succeeded
                                    options.success(result.data.list);
                                },
                                error: function(result) {
                                    // notify the data source that the request failed
                                    console.log("错误，code:" + result.code + ", messge:" + result.message);
                                    options.error(result);
                                }
                            },
                            parameterMap: function (data, type) {
                                if (type === "read") {
                                    var searchParam = getSearchParam();
                                    var param = $.extend(searchParam, data);
                                    // if type is "read", then data is { foo: 1 }, we also want to add { "bar": 2 }
                                    //paramStr = kendo.stringify(param);
                                    return param;
                                }
                                return data;
                            }
                        },
                        schema: {
                            data: function(response) {
                                return response.data.list; // twitter's response is { "statuses": [ /* results */ ] }
                            },total: function(response){
                                return response.data.total;
                            },
                            model: {
                                fields: {
                                    name: { type: "string" },
                                    city: { type: "string" },
                                    state: { type: "string" },
                                    neighborhood: {type: "string"},
                                    address:{type: "string"},
                                    postalCode: { type: "string" },
                                    //latitude: { type: "number" },
                                    //longitude: { type: "number" },
                                    stars: { type: "string" },
                                    reviewCount: { type: "string" },
                                    isOpen: { type: "string" }
                                }
                            }
                        },
                        pageSize: 20,
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    //height: 550,
                    filterable: true,
                    sortable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 10,
                        page: 1,
                        pageSize: 20,
                        pageSizes: [10, 20, 30, 40, 50, 60, 80, 100]
                    },
                    columns: [{
                        field: "rowNumber",
                        title: "No",
                        width: "60px",
                        template: '<span style="color:gray;" class="row-number"></span>'
                    },{
                        field:"name",
                        title: "Name",
                        sortable: false,
                        filterable: false,
                        template: '<a href="/business/detail/#: id #">#: name #</a>'
                    },{
                        field:"city",
                        title: "City",
                        width: "130px",
                        sortable: false,
                        filterable: false
                    },{
                        field:"state",
                        title: "State",
                        width: "80px",
                        sortable: false,
                        filterable: false,
                    },{
                        field:"neighborhood",
                        title: "Neighborhood",
                        width: "130px",
                        sortable: false,
                        filterable: false
                    },{
                        field:"address",
                        title: "Address",
                        sortable: false,
                        filterable: false
                    },{
                        field:"postalCode",
                        title: "Postal Code",
                        width: "100px",
                        sortable: false,
                        filterable: false
                    }
                    // ,{
                    //     field:"latitude",
                    //     title: "Latitude",
                    //     width: "100px",
                    //     sortable: false,
                    //     filterable: false
                    // },{
                    //     field:"longitude",
                    //     title: "Longitude",
                    //     width: "100px",
                    //     sortable: false,
                    //     filterable: false
                    // }
                    ,{
                        field:"stars",
                        title: "Stars",
                        width: "70px",
                        filterable: false
                    },{
                        field:"reviewCount",
                        title: "ReviewCount",
                        width: "100px",
                        sortable: false,
                        filterable: false
                    },{
                        field:"isOpen",
                        title: "Is Open",
                        width: "80px",
                        sortable: false,
                        filterable: false
                    }],
                    dataBound: function () {
                        var rows = this.items();

                        $(rows).each(function () {
                            var index = $(this).index() + 1;
                            var rowLabel = $(this).find(".row-number");
                            $(rowLabel).html(index);
                        });
                        // var page = this.pager.page() - 1;
                        // var pagesize = this.pager.pageSize();
                        // $(rows).each(function () {
                        //     var index = $(this).index() + 1 + page * pagesize;
                        //     var rowLabel = $(this).find(".row-number");
                        //     $(rowLabel).html(index);
                        // });
                    }
                });
            });





            /*<![CDATA[*/
            function businessSearch() {
                // var name = $("#name").val().trim();
                // var city = $("#city").val().trim();
                // var state = $("#state").val().trim();
                // var postCode = $("#postCode").val().trim();
                // var isOpen = $("#isOpen").val().trim();
                //
                // var paramArr = new Array();
                // paramArr.push("name=" + name);
                // paramArr.push("city=" + city);
                // paramArr.push("state=" + state);
                // paramArr.push("postCode=" + postCode);
                // paramArr.push("isOpen=" + isOpen);
                //
                // var url = "";
                // url = apiUrl + "?" + paramArr.join("&");
                var businessGrid = $("#business-grid").data("kendoGrid");
                businessGrid.dataSource.read().then(function () {
                    businessGrid.dataSource.view();
                });
                businessGrid.refresh();
                
            }
            /*]]>*/
            
        </script>
    </th:block>
</body>
</html>