<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.essg.dao.mapper.custom.CustomPermissionMapper">



    <select id="getPermissionsByRole" resultType="com.essg.entity.Permission">
      SELECT permission.id, permission.name, permission.resource_type, permission.url, permission.parent_id, permission.parent_ids, permission.available
      FROM permission INNER JOIN role_permission
	  ON permission.id = role_permission.role_id AND role_permission.role_id = #{roleId}
    </select>

    <!--测试添加了临时表测试-->
    <select id="getPermissionsByAdmin" resultType="com.essg.entity.Permission">
       DROP TEMPORARY TABLE IF EXISTS temp_admin_role_permission;
			 CREATE TEMPORARY TABLE  temp_admin_role_permission
			 SELECT role_permission.role_id, role_permission.permission_id
        FROM admin_role INNER JOIN role_permission
				ON role_permission.role_id = admin_role.role_id AND admin_role.admin_id = #{adminId};

				SELECT permission.*
				FROM permission, temp_admin_role_permission
				WHERE permission.id = temp_admin_role_permission.permission_id;
    </select>

    <select id="changeAvailable" resultType="int">
      UPDATE role SET available = #{available} WHERE id = #{permissionId}
    </select>


</mapper>